<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Fastware Stock</title>
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center m-5">
            <h1 class="display-4">{{ session['first_name'] }}</h1>
            <div class="d-flex gap-2 align-items-center">
                <a class="btn btn-outline-success m-5" href="/articles/new">+ Create</a>
                <form action="/logout" method="post">
                    <input class="btn btn-dark" type="submit" value="Logout">
                </form>
            </div>
        </div>
        <h3 class="m-5">All Stocked articles :</h3>
        
        <table class="col-5 table table-striped table-dark">
            <thead>
                <tr>
                    <th class="col-2">Name</th>
                    <th class="col-2">Supplier</th>
                    <th class="col-2">Quantity in Stock</th>
                    <th class="col-2">Article Price</th>
                    <th class="col-2">Stock Value</th>
                    <th class="col-2">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td>{{ article.article_name }}</td>
                    <td>{{ article.supplier }}</td>
                    <td>{{ article.quantity_in_stock }}</td>
                    <td>{{ article.article_price }}</td>
                    <td>{{ article.stock_value }}</td>
                    <td class="d-flex gap-2">
                        <a class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#updateModal">Edit</a>
                        <a class="btn btn-outline-danger" href="/articles/{{ article.id }}/destroy">DELETE</a>
                    </td>
                    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="updateModalLabel">Edit Article {{article.id}}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="col-8" action="/articles/update" method="post">
                                        {% for message in get_flashed_messages()%}
                                        <li class="h6 text-danger">{{message}}</li>
                                        {% endfor %}
                                        <div class="form-group">
                                            <label class="h6" for="name">Name:</label>
                                            <input type="text" class="form-control" name="article_name" value="{{article.article_name}}">
                                        </div>
                                        <div class="form-group">
                                            <label class="h6" for="fournisseur">Fournisseur:</label>
                                            <input type="text" class="form-control" name="fournisseur" value="{{article.fournisseur}}">
                                        </div>
                                        <div class="form-group">
                                            <label class="h6" for="price">Price:</label>
                                            <input type="number" class="form-control" name="price" value="{{article.price}}">
                                        </div>
                                        <div class="form-group">
                                            <label class="h6" for="qty_in_stock">Qty_in_stock:</label>
                                            <input type="number" class="form-control" name="qty_in_stock" value="{{article.qty_in_stock}}">
                                        </div>
                                        <input class="col-6 btn btn-success m-3" type="submit" value="Edit">
                                    </form>                    
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script>
        $(document).ready(function () {
            // Event listener for when the modal is about to be shown
            $('#updateModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var articleId = button.data('article-id');

                // Load the content dynamically
                $.get('/articles/' + articleId + '/edit', function (data) {
                    $('#updateModal .modal-body').html(data);
                });
            });
        });

        function loadAndShowEditForm(articleId) {
            console.log(articleId, "====================");
            
            // Load the content dynamically
        //     $.get('/articles/' + articleId + '/edit', function (data) {
        //         $('#updateModal .modal-body').html(data);
        //         $('#updateModal').modal('show');  // Show the modal after loading the content
        // }
        // );
}
    </script> -->
</body>
</html>

<!-- Modal for Update Form -->
<!-- <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Edit Article</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="col-8" action="/articles/update" method="post">
                    {% for message in get_flashed_messages()%}
                    <li class="h6 text-danger">{{message}}</li>
                    {% endfor %}
                    <div class="form-group">
                        <label class="h6" for="name">Name:</label>
                        <input type="text" class="form-control" name="name" value="{{ session['edit_article_data']['article_name'] }}">
                    </div>
                    <div class="form-group">
                        <label class="h6" for="fournisseur">Fournisseur:</label>
                        <input type="text" class="form-control" name="fournisseur" value="{{ session['edit_article_data']['supplier'] }}">
                    </div>
                    <div class="form-group">
                        <label class="h6" for="price">Price:</label>
                        <input type="number" class="form-control" name="price" value="{{session['edit_article_data']['id']}}">
                    </div>
                    <div class="form-group">
                        <label class="h6" for="qty_in_stock">Qty_in_stock:</label>
                        <input type="number" class="form-control" name="qty_in_stock" value="{{ session['edit_article_data']['quantity_in_stock'] }}">
                    </div>
                    <input class="col-6 btn btn-success m-3" type="submit" value="Edit">
                </form>                    
            </div>
        </div>
    </div>
</div> -->